<div id="sidebar" class="p-3">
  <h6><i class="fa-regular fa-comments"></i> Zoey</h6>

  <hr>

  <p class="mb-1">
    <i class="fa-regular fa-comment-dots"></i>
    <span> 1:1s</span>
    <% unless current_user.checkins.last && current_user.checkins.last.created_at > 4.days.ago %>
     <span>- <%= link_to 'prepare', new_checkin_path %></span>
    <% end %>
  </p>

  <% if current_user.all_relationships.any? %>
    <ul>
      <% current_user.all_relationships.each do |relationship| %>
        <li>
          <% if relationship.manager == current_user %>
            <%= link_to relationship.direct_report.name, relationship_path(relationship) %>
          <% else %>
            <%= link_to "#{relationship.manager.name} (manager)", relationship_path(relationship) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= link_to '+ Add 1:1', new_relationship_path %>

  <hr>

  <%= link_to root_path do %>
    <i class="fa-solid fa-sliders"></i> Settings
  <% end %>

  <hr>

  <p class="mb-0"><%= current_user.name %> - <%= link_to 'logout', destroy_user_session_path, 'data-turbo-method': :delete %></p>
</div>

