<h1>Add direct report</h1>

<%= simple_form_for @supervision do |f| %>
  <%= simple_fields_for @supervision.direct_report do |ff| %>
    <%= ff.input :name %>
    <%= ff.input :email %>
    <%= ff.input :description, required: false, as: :text %>
  <% end %>

  <%= f.submit 'Add direct report', class: 'btn btn-primary' %>
<% end %>
