<h1>Add 1:1</h1>

<%= simple_form_for @supervision do |f| %>
  <h6>Direct report information</h6>
  <%= f.simple_fields_for @direct_report do |ff| %>
    <%= ff.input :name %>
    <%= ff.input :email %>
    <%= ff.input :description, required: false, as: :text %>
  <% end %>

  <%= f.submit 'Add 1:1', class: 'btn btn-primary' %>
<% end %>
