<turbo-frame id="feedback-chat">
  <div id="chat">
    <% current_user.feedback_conversation['messages'].each do |message| %>
      <% next if message['role'] == 'system' %>

      <% if message['role'] == 'assistant' %>
        <div class="message assistant mb-3 me-5 bg-secondary-subtle p-2 rounded">
          <p class="mb-0">AI: <%= message['content'] %></p>
        </div>
      <% end %>

      <% if message['role'] == 'user' %>
        <div class="message user mb-3 text-right ms-5 bg-secondary-subtle p-2 rounded">
          <p class="mb-0"><%= message['content'] %></p>
        </div>
      <% end %>
    <% end %>

    <%= simple_form_for :chat, url: feedback_chat_path do |chat_form| %>
      <%= chat_form.input :message %>
      <%= chat_form.submit 'Send', class: 'btn btn-primary' %>
    <% end %>
  </div>
</turbo-frame>
