<div class="row justify-content-center">
  <div class="col-8">
  <h1>Welcome back, <%= current_user.name %> 👋</h1>

  <p>Let’s help you prepare for your next 1:1!</p>

  <%= simple_form_for @checkin, data: { controller: 'new-checkin' } do |f| %>
    <div class="form-inputs">
      <div class="card mb-3">
        <div class="card-body">
          <label class="form-label fs-5">How did you feel at work this week? *</label>

          <div class="btn-group btn-group-lg d-flex" role="morale-group">
            <% 7.times do |i| %>
              <input type="radio" class="btn-check" name="checkin[morale]" required id="morale-<%= i + 1 %>" value="<%= i + 1 %>" autocomplete="off">
              <label class="btn btn-outline-primary" for="morale-<%= i + 1 %>"><%= i + 1 %></label>
            <% end %>
          </div>

          <div class="d-flex justify-content-between">
            <span>Awful</span>
            <span>Amazing</span>
          </div>

          <p class="mb-0 mt-2"><%= link_to 'What made you feel this way?', '#', data: { action: 'new-checkin#showMoraleComment' } %></p>
          <div class="d-none" data-new-checkin-target="moraleComment">
            <%= f.input :morale_comment, label: false, wrapper: false, input_html: { class: 'form-control mt-2' } %>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="fs-4 mb-3">Let’s review your priorities! 📝</h2>
          <% if current_user.checkins.last %>
            <label class="form-label">Mark last check-in's priorities as complete</label>
            <% if current_user.checkins.last.priorities.any? %>
              <ul class="list-group mb-3">
                <% current_user.checkins.last.priorities.each do |priority| %>
                  <%= render 'priorities/previous_priority', priority: %>
                <% end %>
              </ul>
            <% else %>
              <p><em>You didn't add priorities in your last checkin!</em></p>
            <% end %>
          <% end %>

          <label class="form-label">What are you planning on accomplishing this week? *</label>
          <div id="priorities">
          </div>

          <button class="btn btn-outline-primary btn-sm" data-action="new-checkin#appendHtml" data-model="priority" data-html="<%= ERB::Util.url_encode(render('priorities/priority', priority: @checkin.priorities.new, checkin_form: f))%>">Add another priority</button>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="fs-4 mb-3">Let’s answer some quick questions! 🙋</h2>

          <%= f.input :wins, label: 'Any wins you would like to share? What is going well?', input_html: { rows: 1 } %>

          <%= f.input :blockers, label: 'Are you running into any blockers?', input_html: { rows: 1 } %>

          <label class="form-label">How is your workload at the moment? *</label>
          <div class="btn-group btn-group-lg d-flex" role="workload-group">
            <% 7.times do |i| %>
              <input type="radio" class="btn-check" name="checkin[workload]" required id="workload-<%= i + 1 %>" value="<%= i + 1 %>" autocomplete="off">
              <label class="btn btn-outline-primary" for="workload-<%= i + 1 %>"><%= i + 1 %></label>
            <% end %>
          </div>

          <div class="d-flex justify-content-between">
            <span>Not enough work</span>
            <span>Just enough work</span>
            <span>Too much work</span>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="fs-4">Share any feedback that you might have 👥</h2>

          <p class="mt-3 mb-2">Do you have any feedback to share with <strong><%= current_user.manager_relationships.map { |relationship| relationship.manager.name }.to_sentence %></strong>?</p>

          <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFeedback" aria-controls="offcanvasFeedback">Open Feedback AI-wizard</button>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h2 class="fs-4">Let's add some 1:1 talking points! 🗣️</h2>

          <% current_user.manager_relationships.each do |relationship| %>
            <p class="mt-3 mb-2">Anything you want to talk about in your next 1:1 with <strong><%= relationship.manager.name %></strong>?</p>

            <div id="topics-<%= relationship.id %>">
              <% relationship.open_topics.each do |topic| %>
                <%= render 'topics_fields', relationship:, topic:, checkin_form: f %>
              <% end %>
            </div>

            <button class="btn btn-outline-primary btn-sm" data-action="new-checkin#appendHtml" data-model="topic" data-html="<%= ERB::Util.url_encode(render('topics_fields', relationship:, topic: relationship.topics.new, checkin_form: f))%>">Add another talking point</button>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Submit Check-in', class: 'btn-primary' %>
    </div>
  <% end %>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasFeedback" aria-labelledby="offcanvasFeedbackLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Feedback AI-Wizard</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <%= render 'chat' %>
  </div>
</div>
